AnypointStudio/.tooling/confile-004f854f467-b19a-4475-b215-abccb8822397/confile-004.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="cfg-http" doc:name="HTTP Listener config" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<file:config name="cfg-file" doc:name="File Config" doc:id="c353acb7-1b09-4ff0-a74e-78866493b655" />
	<flow name="flw-listfiles">
		<http:listener doc:name="Listener" path="list-files" config-ref="cfg-http"/>
		<file:list config-ref="File_Config" directoryPath="relativePath" />

		<foreach>
		    <choice>
		        <when expression="#[not attributes.directory]">
		            <logger message="Found file #[attributes.path] whose content is: #[payload]" />
		        </when>
		        <otherwise>
		            <flow-ref name="process-directory" />
		        </otherwise>
		    </choice>
		</foreach>
	</flow>
</mule>
